# GPU 竞争调度器配置文件

# 调度配置
check_time: 3  # 调度间隔（秒）
maximize_resource_utilization: false  # 极限利用资源模式
memory_save_mode: true # 是否采用节省显存模式，默认采用节省显存模式
# 在节省显存模式（true）下：显存利用率*剩余显存 越小，优先级越高，如果相等，那么剩余显存越小，优先级越高
# 在防止显存溢出模式（false）下：显存利用率*当前占用显存 越小，优先级越高，如果相等，那么当前占用显存越小，优先级越高

# GPU 配置
compete_gpus: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]  # 手动指定的 GPU 列表
use_all_gpus: true  # 是否自动探测所有 GPU
gpu_left: 2  # 计划剩余几张卡给其他用户（实际不一定）
min_gpu: 2  # 用户至少用几张卡
max_gpu: 3  # 用户最多用几张卡
# 实际用的卡是 min(max_gpu,max(min_gpu,available_gpus-gpu_left)),其中available_gpus是当前可用的GPU

# 重试配置
retry_config:
  max_retry_before_backoff: 3  # 每 3 次重试后进入退避
  backoff_duration: 600  # 退避时间 10 分钟



# 工作目录配置
# 支持以下格式：
# - null: 自动设置为脚本父目录（默认）
# - "../": 相对于脚本的父目录
# - "/absolute/path": 绝对路径
# - "relative/path": 相对于脚本的路径
work_dir: "/home/hdl/project/fgvr_test_new"  # 默认：脚本父目录

# 命令文件
gpu_command_file: command_gpu.txt  # 单gpu配置文件
gpus_command_file: command_gpus.txt  # 多gpu配置文件

